[submodule "libraries/THelper"]
	path = libraries/THelper
	url = https://github.com/kn65op/THelper.git
[submodule "libraries/TLogger"]
	path = libraries/TLogger
	url = https://github.com/kn65op/TLogger.git
[submodule "libraries/yaml-cpp"]
	path = libraries/yaml-cpp
	url = https://github.com/kn65op/yaml-cpp.git
